<div class="row" id="top-header">
  <div class="col-lg-9 col-12" id="ip-text">
    給我一個IP ，我給你全世界。
  </div>
  <div class="col-lg-3 col-12 float-right text-right">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Keyword">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary border-0" type="button"></button>
      </div>
    </div>
  </div>
</div>
<header class="row">
  <div class="col-12 text-dark">
    國立臺北商業大學資訊管理系
  </div>
  <div class="col-12">
    <img class="img-fluid" src="http://imd.ntub.edu.tw/ezfiles/34/1034/sys_1034_5236900_56708.png" alt="國立臺北商業大學資訊管理系" border="0">
  </div>
</header>
