<ul class="list-group" id="leftbar">
  <li class="list-group-item" id="leftbar-head">
    <i class="icon ion-arrow-down-b"></i>分類清單</li>
  <li class="list-group-item">
    <div class="dropright">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
        最新消息
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>系科公告</a>
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>活動資訊</a>
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>徵才資訊</a>
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>競賽資訊</a>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="dropright">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
        本系介紹
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>培育目標</a>
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>發展沿革</a>
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>教學特色</a>
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>教學設備</a>
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>English Version</a>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="dropright">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
        師資陣容
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>師資介紹</a>
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>導師名單</a>
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>行政人員</a>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="dropright">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
        課程規劃
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>課程科目表</a>
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>學生課程地圖~課程模組</a>
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>資管系學生能力指標</a>
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>畢業門檻</a>
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>資管講座</a>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="dropright">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
        學生資源
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>學生專題</a>
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>實習專區</a>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="dropright">
      <button type="button" class="btn" data-toggle="dropdown">
        招生資訊
      </button>
    </div>
  </li>
  <li class="list-group-item">
    <div class="dropright">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
        榮譽榜單
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>升學榮譽榜</a>
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>證照榮譽榜</a>
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>競賽榮譽榜</a>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="dropright">
      <button type="button" class="btn" data-toggle="dropdown">
        FAQ
      </button>
    </div>
  </li>
  <li class="list-group-item">
    <div class="dropright">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
        其他資源
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>相關法規</a>
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>行事曆</a>
        <a class="dropdown-item" href="#"><i class="icon ion-arrow-right-c"></i>意見箱</a>
      </div>
    </div>
  </li>
</ul>
